name: Random Dare

# every month on the first day at 00:00
on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:

jobs:
  radom_dare:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install
        run: pip install -r requirements.txt

      - name: Random Dare
        env: 
          TRELLO_API_KEY: ${{ secrets.TRELLO_API_KEY }}
          TRELLO_API_SECRET: ${{ secrets.TRELLO_API_SECRET }}
          TRELLO_TOKEN: ${{ secrets.TRELLO_TOKEN }}
          TELEGRAM_BOT_TOKEN: ${{ secrets.TELEGRAM_BOT_TOKEN }}
          TELEGRAM_CHANNEL_ID: ${{ secrets.TELEGRAM_CHANNEL_ID }}
        run: python3 random_dare.py